<%= form_with(model: server, local: true) do |form| %>
  <% if server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(server.errors.count, "error") %> prohibited this server from being saved:</h2>

      <ul>
      <% server.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">

    <div class="form-group row">
      <label for="" class="col-sm-2 col-form-label"><%= form.label :name %></label>
      <div class="col-sm-5">
        <%= form.text_field :name , class:"form-control" %>
        
      </div>
      <div class="col-sm-5">
        <small id="emailHelp" class="form-text text-muted">
          Name to indentify your server.
        </small>
      </div>
    </div>

    <div class="form-group row">
      <label for="" class="col-sm-2 col-form-label"><%= form.label :ip %></label>
      <div class="col-sm-5">
        <%= form.text_field :ip , class:"form-control" %>
      </div>
      <div class="col-sm-4">
        <small id="emailHelp" class="form-text text-muted">
         IP to access
        </small>
      </div>
    </div>

    <div class="form-group row">
      <label for="" class="col-sm-2 col-form-label"><%= form.label :port %></label>
      <div class="col-sm-5">
        <%= form.text_field :port , class:"form-control" %>
      </div>
      <div class="col-sm-4">
        <small id="emailHelp" class="form-text text-muted">
         If this serve use other port, if not use default port.
        </small>
      </div>
    </div>

    <div class="form-group row">
      <label for="" class="col-sm-2 col-form-label"><%= form.label :login %></label>
      <div class="col-sm-5">
        <%= form.text_field :login , class:"form-control" %>
      </div>
      <div class="col-sm-4">
        <small id="emailHelp" class="form-text text-muted">
          User for access.
        </small>
      </div>
    </div>

    <div class="form-group row">
      <label for="" class="col-sm-2 col-form-label"><%= form.label :chave_ssh %></label>
      <div class="col-sm-5">
        <%= form.text_field :chave_ssh , class:"form-control-plaintext" %>
        
      </div>
      <div class="col-sm-4">
        <small id="emailHelp" class="form-text text-muted">
          This is the public-key to use in your serve for connection.
        </small>
      </div>
    </div>


    <!-- <div class="field">
      <input type="text" readonly class="form-control-plaintext" id="" value="email@example.com">
    </div> -->
  </div>
  <div class="actions">
    <%= form.submit class:"btn btn-primary" %>
    <%= link_to 'Back', servers_path, class:"btn btn-secondary btn-sm" %>
  </div>
<% end %>
