<% if notice %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong><p id="notice"><%= notice %></p></strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong><p id="notice"><%= alert %></p></strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Server</li>
  </ol>
</nav>

<% if @servers.blank? %>
  <p>No server.</p>
<% end %>

<table class="table table-bordered">
  <thead>
    <th>Description</th>
    <th>IP</th>
    <th>Port</th>
    <th>User server</th>
    <th colspan="2">Actions</th>
  </thead>
  <tbody>
    <% @servers.each do |server| %>
      <tr>
        <td><%= link_to server.name, server_path(server) %></td>
        <td><%= server.ip %></td>
        <td><%= server.port %></td>
        <td><%= server.login %></td>
        <% if policy(Server).show_buttons? %>
          <td><%= link_to 'Edit', edit_server_path(server), class:"btn btn-warning btn-sm" %>
          <%= link_to 'Destroy', server, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

