<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @server.name %>
  <strong>Ip:</strong>
  <%= @server.ip %>
</p>

<%= link_to 'Images', server_image_dockers_path(@server)%>
<%= link_to 'Containers', server_containers_path(@server)%>

<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>
