<%= form_with(model: container, local: true) do |form| %>
  <% if container.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(container.errors.count, "error") %> prohibited this container from being saved:</h2>

      <ul>
      <% container.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
      <div class="actions">
        <h3>Restart Container  <%= form.submit 'Restart', class:"btn btn-warning" %></h3>
      </div>
    </div>
  <div class="row">
      <div class="col-sm-3">
        <img src="<%= image_path('docker-container.png') %>" height="200" width="200"  />
      </div>
      <div class="col-sm-9">
        <p><strong>Container ID: </strong><%= @container.container_id %></p>
        <p><strong>Name:</strong><%= @container.names %></p>
        <p><strong>Image:</strong><%= @container.image %></p>
        <p><strong>Command:</strong><%= @container.command %></p>
        <p><strong>Create:</strong><%= @container.created %></p>
        <p><strong>Status:</strong><%= @container.status %></p>
        <p><strong>Ports:</strong><%= @container.ports %></p>
        
      </div>
    </div>
<% end %>
