<%= form_with(model: container, local: true) do |form| %>
  <% if container.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(container.errors.count, "error") %> prohibited this container from being saved:</h2>

      <ul>
      <% container.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :container_id %>
    <%= form.text_field :container_id %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>

  <div class="field">
    <%= form.label :command %>
    <%= form.text_field :command %>
  </div>

  <div class="field">
    <%= form.label :created %>
    <%= form.text_field :created %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :ports %>
    <%= form.text_field :ports %>
  </div>

  <div class="field">
    <%= form.label :names %>
    <%= form.text_field :names %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
