<p id="notice"><%= notice %></p>

<h1>Containers</h1>
<!-- <%= link_to 'New Container', new_container_path %> -->

<div class="row">
<% @containers.each do |container| %>

  <div class="col-sm-3">
    <div class="card" style="width: 16rem; border-color: midnightblue; background-color: #b6e9f1">
      <!-- <img class="card-img-top" src="<%= image_path('docker-container.png') %>"  alt="image docker" style="margin: 0px"> -->
      <div class="card-body">
        <h5 class="card-title"><%= link_to container.names, container%></h5>
        <p class="card-text">
          <p>ID: <%= container.container_id %></p>
          <p>Status: <%= container.status %></p>
        </p>
        <p>
          <%= link_to 'Restart', edit_container_path(container), class:"btn btn-success btn-sm" %>
          <%= link_to 'Stop', container, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm" %></p>
      </div>
    </div>
  </div>
  
  <% end %>
</div>
  
<!-- <table>
  <thead>
    <tr>
      <th>Container</th>
      <th>Image</th>
      <th>Command</th>
      <th>Create</th>
      <th>Status</th>
      <th>Ports</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @containers.each do |container| %>
      <tr>
        <td><%= container.container_id %></td>
        <td><%= container.image %></td>
        <td><%= container.command %></td>
        <td><%= container.created %></td>
        <td><%= container.status %></td>
        <td><%= container.ports %></td>
        <td><%= container.names %></td>
        <td><%= link_to 'Show Logs', container, class:"btn" %></td>
        <td><%= link_to 'Restart', edit_container_path(container) %></td>
        <td><%= link_to 'Stop', container, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br> -->

