<% if notice %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong><p id="notice"><%= notice %></p></strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong><p id="notice"><%= alert %></p></strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<h3><%= link_to @server.name, server_path(@server) %> - Containers</h3>
<!-- <%= link_to 'New Container', new_server_container_path %> -->

<div class="row">

<% if @containers.blank? %>
  <p>No containers.</p>
<% end %>

<% @containers.each do |container| %>

  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= link_to container.names, server_container_path(container.server.id, container.id) %></h5>
        <p class="card-text">
          <p>ID: <%= container.container_id %></p>
          <p>Status: <%= container.status %></p>
        </p>
        <p>
          <% if policy(Container).show_button_restart? %>
            <%= link_to 'Restart', restart_path(container), class:"btn btn-success btn-sm" %>
          <% end %>
          <% if policy(Container).show_button_stop? %>
            <%= link_to 'Stop', server_container_path(container.server.id, container.id), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm" %></p>
          <% end %>
      </div>
    </div>
  </div>
  
  <% end %>
</div>
