<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-3">
    <img src="<%= image_path('docker-container.png') %>" height="200" width="200"  />
    <p><strong>Container ID: </strong><%= @container.container_id %></p>
    <p><strong>Name:</strong><%= @container.names %></p>
    <p><strong>Image:</strong><%= @container.image %></p>
    <p><strong>Command:</strong><%= @container.command %></p>
    <p><strong>Create:</strong><%= @container.created %></p>
    <p><strong>Status:</strong><%= @container.status %></p>
    <p><strong>Ports:</strong><%= @container.ports %></p>
  </div>
  <div class="col-sm-9">
    <div class="row float-right">
      <p><%= link_to 'Restart', restart_path(@container),  data: { confirm: 'Are you sure?' }, class:"btn btn-success " %>
      <%= link_to 'Stop', @container, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger " %>
      <%= link_to 'Back', containers_path, class:"btn btn-secondary" %></p>
    </div>
    <h3>Logs</h3>
    <div style="width: 100%; height: 450px; overflow-y: scroll;">
      <% @linhas.each do |linha| %>
        <h6><%=linha%></h6>
      <% end %>   
    </div>
  </div>
</div>

