 
<div class="body">
<div class="grad">
<div class="header">
  <div>DockerViewer</div>
  <img src="<%= image_path('logo.png') %>" height="128" width="128" style="padding: 5px"/>
</div>
<div class="login">
    <% if notice %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong><p id="notice"><%= notice %></p></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong><p id="notice"><%= alert %></p></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" , placeholder: "E-mail" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off" , placeholder: "Password"%>
      </div>

     
      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
      <div class="field">
          <%= link_to "Sing up", new_registration_path(resource_name), class:"btn link" %>
        </div>
    <% end %>
  </div>
  </div>
</div> 
<!-- 
<div class="text-center">
  <form class="form-signin">
    <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
  </form>
</div> -->